.chart {
  display: flex;
}

.chart rect {
  fill: steelblue
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.back-arrow {
  align-self: flex-start;
  margin-left: 30px;
}
