.date-range-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto 15px auto;
}

.date-range-container > button {
  border: none;
  background-color: #9D9DE2;
  color: #FBF9F4;
  padding: 15px;
  border-radius: 5px;
  margin-left: 2px;
}

.date-range-container > button.active-btn {
  background-color: #0063FC;
}
